<% content_for(:head) do %>
  <title><%= @item.title %> - monolist</title>
  <meta name="description" content="<%= @item.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。">
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% # 商品イメージ %>
          <% if @item.large_image.present? %>
            <%= image_tag(@item.large_image , alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <% # 商品タイトル %>
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% # Haveしたユーザー一覧 %>
          <div class="side-box-body">
            <% @item.have_users.each do |user| %>
              <%= link_to user do %>
                <span class="gravatar"><%= gravatar_for user, size: 24 %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% # Wantしたユーザー一覧 %>
          <div class="side-box-body">
            <% @item.want_users.each do |user| %>
              <%= link_to user do %>
                <span class="gravatar"><%= gravatar_for user, size: 24 %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-center">
        <% # 正しいリンク先に %>
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), "http://www.amazon.co.jp/dp/#{@item.asin}") %>
      </div>
    </div>
  </div>
</div>
